.wrapper {
    margin-top: 30px;
}
.box {
    min-height: 400px;
}
.imageContainer {
    width: 70%;
}
.containerForDescription {
    margin-left: 25px;
}
.image {
    height: auto;
    width: 100%;
}
.toCenter {
    text-align: center;
    display: flex;
    justify-content: center;
}
.productCount {
    display: flex;
    margin: 15px 0  ;
    width: 50%;
}
.textStyle  {
    font-size: 18px;
    margin: 5px 0 ;
    display: flex;
}

.sadSmile {
    margin-left: 25px ;
}