.containerForComments  {
    /*display: flex;*/
    /*justify-content: center;*/

}
.headLine {
    text-align: center;

}
.name {
    font-weight: bolder;
    color: teal;
    margin-right: 25px;
}
.phone {
    color: #986565;
    margin-left: 25px;
}
.bodyOComments {
    max-width: 500px;
}
.userComments {
    color:#859581;
    font-size: 18px;
}
.comment {
    display: flex;
}
.buttonOfComment{
    height: 30px;
}