
.rowForMenu {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #d5d0d0;
}
.rowForMenu > a {
    text-decoration: none;
    margin-right: 35px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    border-bottom: 3px solid white;
}
.rowForMenu > a:hover {
    color: gold;
    border-bottom: 3px solid gold;
    transition: 1s ;
}
.containerForLikeCount {
    position: absolute;
    right: -40px;
}
.likeCount{
    text-align: right;
    position: sticky;
    top: 50px;
}
.likeCount > span {
    top: 2px;
    margin-left: 5px;
}
.countOfProductInCart {
    display: flex;
    position: absolute;
    top: 0;
    right: 25px;
}