.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.clothesLink{
    text-decoration: none;
    color: gray;
    font-size: 20px ;
    margin-right: 90px ;
}
.clothesLink:hover {
    color: black;
    transition: 1s;

}